
/*Previous CSS*/
.btnColor{
    background-color:#087ca3;
}
.keyBadges{
    font-size: 12px;
    background-color: #127298;
    padding: 6px 8px;
    font-weight: inherit;
    margin-top: 3px;
}
.right{
    text-align: right;
}
.reviewHdr{
    border-bottom: 01px dashed darkgrey;padding-bottom: 10px
}
.block{
    display: block;
}
.mrgnBtm{
    margin-bottom: 15px
}
.ratingDscrpn{
    margin-left: 25px;
    vertical-align: super;
    font-size: 15px;
    position: relative;
    top: 6px;
}
.lineSpac{
    margin-bottom: 25px;
}
.flag{
    font-size: 25px;
    color: black;
    position: relative;
    top: 4px;
    cursor: pointer;
}
.flag:hover {
    color: blue;
}
.fnt26{
    font-size: 26px;
}
.sclImg{
    width: 35px;cursor: pointer;
}
.wdth80{
    width: 80px;
}
.inherit{
    font-weight: inherit;
}.blue{
color: blue;
}
/*More css*/
.right{
    text-align: right;
}.center{
    text-align: center;
}.linkMargin{
    margin:20px 0px 0px 0px; 
}.popWidth{
    width: 65%;
    margin-left: 20%;
}.bottomSpace{
    margin-bottom: 15px;
}.marginBottom{
        margin-bottom: 10px;
}.colorLabel{
                height: 9px;
                background-color: #EF5350;
                position: absolute;
                width: 28%;
                border-radius: 33px;
}.sdw{
    border-bottom: 01px solid darkgray;
    box-shadow: 0px 0px 2px 0px;
    width: 98%;
    margin-left: 1%;
    border-radius: 12px;
}.wdth60{
    width: 75%;
}.margintoplabel{
    margin-top: 7%;
}.hrDt{
        color: darkgray;
        font-size: 11px;
}.mrgnleft4{
    margin-right: 4px;
}.margin1{
    margin-left: 1%;
}
.panel-group .panel+.panel {
    margin-top: 15px;
}
/*profile css*/
.pfName{
    display: block;
    font-size: 18px
}.profilePadding{
    padding-top: 0px;
    padding-bottom: 0px;
}
/*12-08*/
/*Previous CSS*/
.btnColor{
    background-color:#087ca3;
}
.keyBadges{
    font-size: 12px;
    background-color: #127298;
    padding: 6px 8px;
    font-weight: inherit;
    margin-top: 3px;
}
.right{
    text-align: right;
}
.reviewHdr{
    border-bottom: 01px dashed darkgrey;padding-bottom: 10px
}
.block{
    display: block;
}
.mrgnBtm{
    margin-bottom: 15px
}
.ratingDscrpn{
    margin-left: 25px;
    vertical-align: super;
    font-size: 15px;
    position: relative;
    top: 6px;
}
.lineSpac{
    margin-bottom: 25px;
}
.flag{
    font-size: 25px;
    color: black;
    position: relative;
    top: 4px;
    cursor: pointer;
}
.flag:hover {
    color: blue;
}
.fnt26{
    font-size: 26px;
}
.sclImg{
    width: 35px;cursor: pointer;
}
.wdth80{
    width: 80px;
}
.inherit{
    font-weight: inherit;
}.blue{
color: blue;
}
/*More css*/
.right{
    text-align: right;
}.center{
    text-align: center;
}.linkMargin{
    margin:20px 0px 0px 0px; 
}.popWidth{
    width: 65%;
    margin-left: 20%;
}.bottomSpace{
    margin-bottom: 15px;
}.marginBottom{
        margin-bottom: 10px;
}.colorLabel{
                height: 9px;
                background-color: #EF5350;
                position: absolute;
                width: 28%;
                border-radius: 33px;
}.sdw{
    border-bottom: 01px solid darkgray;
    box-shadow: 0px 0px 2px 0px;
    width: 98%;
    margin-left: 1%;
    border-radius: 12px;
}.wdth60{
    width: 75%;
}.margintoplabel{
    margin-top: 7%;
}.hrDt{
        color: darkgray;
        font-size: 11px;
}.mrgnleft4{
    margin-right: 4px;
}.margin1{
    margin-left: 1%;
}
.panel-group .panel+.panel {
    margin-top: 15px;
}
/*profile css*/
.pfName{
    display: block;
    font-size: 18px
}.profilePadding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.profileHdr{
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: bold;
}body{
    font-size: 13px;
    }.revwImg{
        width: 100%;
}
.hrPdng{
    padding: 0px 0px 10px 0px;
}
.removeMargin{
        margin: 0px;
}
.metadata{
        font-size: 9px;
    background-color: #B3E5FC;
    padding: 6px 8px;
    font-weight: inherit;
    margin-top: 3px;
    color: black;
}
.metaGround{
    background-color: #F5F5F5;
}
.sei{
    font-size: 11px;
}
.font12{
    font-size: 12px;
    }.pfrvw{
            text-transform: inherit;
            font-size: 14px;
            font-weight: bold;
}
.pfcntnr{
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 1px 2px #d3d3d3;
    padding: 10px;
    margin: 6px 0 0 0;
    background-color: #F5F5F5;
    }.font10{
        font-size: 10px;
        }.font11{
                font-size: 11px;
}.font18{
    font-size: 18px;
}.top10{
    margin-top: 10px;
}.pfRating{
    float:right;margin-right: 10px;font-size: 9px;
}
.bold{
    font-weight: bold;
}.white{
    background: white;
}
.font14{
    font-size: 14;
}
.ovrFlw{
    overflow: hidden;
}
.rtng{
    margin-right: 10px;font-size: 9px;
}
.overallInput{
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 12
}
.submit{
    background: #1e80a5;
    color: white;text-align: center;border: 1px solid #1e80a5; margin-top: 26px;padding: 10px 35px;
                        border-radius: 5px;
}
.width100{
    width: 100%;
}
.top15{
    margin-top: 15px;
}
.bottom7{
    margin-bottom: 7px;
}.right{
        float: right;
}
/*13-oct*/
.pading0{
padding-right: 0px;
}

/**/
.fRight{
    float: right;
}
.font18{
    font-size: 18px;
}
.cTitle{
        margin-bottom: 13px;
    color: #087ca3;
}
.font16{
    font-size: 16px;
}
.bottom8{
    margin-bottom: 8px;
}
.abtHdg{
       font-size: 16px;
       margin-top: 20px;
}
.padding22{
    padding: 20px 0;
}
